body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.hero-section {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.hero-left {
  flex: 1;
}

.main-image {
  width: 100%;
  border-radius: 10px;
}

.thumbnail-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  width: 70px;
  border-radius: 6px;
  cursor: pointer;
}

.hero-right {
  flex: 1;
}

.badge {
  background-color: #e60023;
  color: white;
  padding: 7px;
  border-radius: 10px;
}

.stars-reviews {
  display: flex;
  margin-top: 15px;
  align-items: center;
  gap: 6px;
  font-size: 22px;
  color: #333;
}

.stars {
  color: #ffc107;
  font-size: 22px;
}

.rating-score {
  font-weight: bold;
}

.review-count {
  color: #666;
}

.product-title {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}

.author {
  background-color: #f2f2f6a8;
  border-radius: 10px;
  padding: 15px;
}

.author-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
}

.author-comment {
  font-size: 16px;
  color: #3f446c;
}

.product-details {
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  justify-content: start;
  max-width: 500px;
}

.product-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.product-details ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-size: 16px;
  color: #3f446c;
}

.pricing {
  margin-bottom: 20px;
}

.compare-price {
  text-decoration: line-through;
  color: #888;
  font-size: 28px;
  margin-right: 10px;
}

.sale-price {
  color: #e60023;
  font-size: 38px;
  font-weight: bold;
}

.pricing-submition {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.add-to-cart-btn {
  background-color: #1db469;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
}

.add-to-cart-btn:hover {
  cursor: pointer;
  background-color: #11a55b;
}

.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 38px;
}

.quantity-control span {
  font-size: 38px;
  font-weight: bolder;
}

.quantity-control span:hover {
  cursor: pointer;
}

.quantity-control-btn {
  border: none;
}

.transaction-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 50%;
}

.transaction-cards img {
  width: 60px;
  height: 40px;
  object-fit: contain;
  padding: 5px;
}

.transaction-details-rule {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 15px;
}

.transaction-details-rule img {
  width: 30px;
  height: 30px;
}

.transaction-details-rule span {
  color: #3385ff;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-drawer.open {
  right: 0;
}

.drawer-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.drawer-overlay.show {
  display: block;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f6a8;
  padding: 10px;
  border-radius: 10px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.cart-product {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-product img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
}

.cart-info h4 {
  text-align: center;
}

.cart-pricing {
  display: flex;
  gap: 10px;
}

.drawer-sale-price {
  font-weight: bold;
  color: green;
}

.drawer-compare-price {
  text-decoration: line-through;
  color: #999;
}

.delete-btn {
  background-color: red;
  color: white;
  padding: 4px 8px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
}

.delete-btn:hover {
  cursor: pointer;
}

.cart-footer {
  margin-top: 20px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn {
  width: 100%;
  padding: 10px;
  background: #1db469;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  font-weight: bold;
}

.checkout-btn:hover {
  cursor: pointer;
}

/* banner section css */

.banner-section {
  position: relative; 
  background-image: url("./public/banner_one.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.overlay-image {
  position: absolute; 
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  z-index: 1;
}

.overlay-image img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.2;
}

.overlay-image-two {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(18%, -60%);
  width: 60%;
  /* max-width: 500px; */
  z-index: 2;
}

.overlay-image-two img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.2; 
}

.banner-content {
  width: 80%;
  margin: 0 auto;
  color: white;
}

.banner-headline {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}

.banner-subheading {
  text-align: left;
  font-size: 16px;
  max-width: 500px;
}

.highlight {
  color: #1db469;
}

.product-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 900px;
}

.features-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 600px;
}

.feature-number {
  display: inline;
  padding: 10px;
  border-radius: 100%;
  color: white;
  background-color: #1db469;
  font-size: 16px;
  font-weight: bold;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

.key-benefits{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  z-index: 2;
}

.benefit-highlight {
  color: white;
  background-color: #1DB469;
  font-weight: bold;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}
